<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RW_Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RW_Frontend.Properties.Settings>
            <setting name="RemoveFluent" serializeAs="String">
                <value>Usuń fluent</value>
            </setting>
            <setting name="RemoveAction" serializeAs="String">
                <value>Usuń akcję</value>
            </setting>
            <setting name="RemoveAgent" serializeAs="String">
                <value>Usuń agenta</value>
            </setting>
            <setting name="RemoveCauses" serializeAs="String">
                <value>Usuń zdanie "causes"</value>
            </setting>
            <setting name="RemoveAfterQuery" serializeAs="String">
                <value>Usuń kwerendę "after"</value>
            </setting>
            <setting name="RemoveExecutableQuery" serializeAs="String">
                <value>Usuń kwerendę "executable"</value>
            </setting>
            <setting name="RemoveEngagedQuery" serializeAs="String">
                <value>Usuń kwerendę "engaged"</value>
            </setting>
            <setting name="AddFluent" serializeAs="String">
                <value>Dodaj nowy fluent</value>
            </setting>
            <setting name="AddAction" serializeAs="String">
                <value>Dodaj nową akcję</value>
            </setting>
            <setting name="AddAgent" serializeAs="String">
                <value>Dodaj nowego agenta</value>
            </setting>
            <setting name="AddCauses" serializeAs="String">
                <value>Dodaj nowe zdanie "causes"</value>
            </setting>
            <setting name="AddAfterQuery" serializeAs="String">
                <value>Dodaj nową kwerendę "after"</value>
            </setting>
            <setting name="AddExecutableQuery" serializeAs="String">
                <value>Dodaj nową kwerendę "executable"</value>
            </setting>
            <setting name="AddEngagedQuery" serializeAs="String">
                <value>Dodaj nową kwerendę "engaged"</value>
            </setting>
            <setting name="CalculateAfterQuery" serializeAs="String">
                <value>Znajdź wynik dla kwerendy "after"</value>
            </setting>
            <setting name="CalculateExecutableQuery" serializeAs="String">
                <value>Znajdź wynik dla kwerendy "executable"</value>
            </setting>
            <setting name="CalculateEngagedQuery" serializeAs="String">
                <value>Znajdź wynik dla kwerendy "engaged"</value>
            </setting>
        </RW_Frontend.Properties.Settings>
    </userSettings>
</configuration>